:root {
  --red: #df2549;
  --gray: #232323;
  --white: #ffffff;
  --rose: #ce5f64;
  --magenta: #a72a60;
  --green: #2aa754;
  --yellow: #fa9e25;
  --blue: #5e67ec;
}
@font-face {
  font-family: Inter;
  src: url(Inter.ttf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
  font-family: "inter";
}
body {
  overflow-x: hidden;
  color: var(--gray);
  font-weight: 500;
  font-size: 1.125rem;
  position: relative;
  min-height: 100vh;
  overflow-y: scroll;
}
img,
picture,
video,
iframe {
  display: block;
  max-width: 100%;
  border-width: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 8.25em;
  top: 0px;
  z-index: 4;
  box-shadow: 0px -6px 33px 8px var(--magenta);
  background-color: var(--red);
}
.header-container {
  display: flex;
  width: 100%;
  max-width: 1580px;
  height: 8.25em;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  padding-inline: 5em;
  color: var(--white);
  padding-block: 0.75em;
}
b {
  color: var(--red);
}
.logo-wrapper {
  position: relative;
  height: 6.5em;
}
.silksong_logo {
  width: 100%;
  height: 100%;
}
.current-day {
  width: 17em;
}
.current-day p:first-child,
.news-header p:last-child {
  font-size: 1.65em;
  font-weight: 600;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.header-info {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}
button {
  background: var(--white);
  outline-color: var(--white);
  outline-width: 0.15em;
  outline-offset: -0.15em;
  outline-style: solid;
  border: none;
  cursor: pointer;
  color: var(--red);
  font-weight: 600;
  padding-inline: 1em;
  padding-block: 0.4em;
  border-radius: 0.5em;
  transition: all 0.25s;
  &:hover {
    background: var(--red);
    color: var(--white);
  }
}
.timeline-wrapper {
  margin-top: 8.25rem;
  padding-left: 4em;
  padding-top: 2.75rem;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 5rem;
  max-width: 1580px;
  margin-inline: auto;
}
.timeline {
  background-color: var(--rose);
  height: calc(100% - 3em);
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  left: 2.5em;
  width: 0.2em;
  margin-inline: auto;
}
.day {
  height: 30px;
}
.news:not(.news ~ .news) {
  margin-top: 0;
}
.news {
  position: relative;
  height: auto;
  scroll-margin-top: 11rem;
  margin-top: 2em;
  padding-right: 2em;
}
.newsImages {
  margin-top: 0.75em;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}
.newsImg {
  height: 22.5rem;
  border-radius: 0.5em;
}
a {
  color: var(--gray);
}
.linkLogo {
  aspect-ratio: 1 / 1;
  width: 1em;
}
.linkDiv {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.newsLinks {
  margin-top: 0.75em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.green {
  --red: var(--green);
}
.yellow {
  --red: var(--yellow);
}
.blue {
  --red: var(--blue);
}
.month {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 4em;
}
.hr {
  border-top: 2px solid var(--rose);
  width: 100%;
}
.news::after {
  content: "";
  position: absolute;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  transform: translate(-50%, 0.15em);
  outline: 0.2em solid var(--white);
  width: 1em;
  top: 0;
  left: -1.5em;
  background-color: var(--red);
}
.stats {
  padding-inline: 4em;
  margin-bottom: 1em;
}
.credits {
  padding-inline: 4em;
  margin-bottom: 3em;
}
h1 {
  font-size: 2em;
  margin-bottom: 0;
  color: var(--red);
}
h3 {
  color: var(--red);
  margin-top: 1em;
  margin-bottom: 0.15em;
}
.stats-row {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
}

@media (max-width: 1180px) {
  .header-container {
    justify-content: center;
  }
  .logo-wrapper {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    height: 10em;
    text-align: center;
    box-shadow: none;
  }
  .header-container {
    padding-block: 0;
    height: 10em;
  }
  .current-day {
    width: 100%;
  }
  .nav-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-info {
    flex-direction: column;
    gap: 0.4em;
  }
  .nav,
  .news-header {
    gap: 0.2em;
  }

  .timeline-wrapper {
    margin-top: 9em;
  }
  .news {
    scroll-margin-top: 11em;
  }
  .newsImg {
    height: 100%;
    max-height: 22.5rem;
    border-radius: 0.5em;
  }
}

@media (max-width: 640px) {
  .timeline {
    left: 1em;
  }
  .timeline-wrapper {
    padding-left: 2.5em;
    padding-right: 1em;
  }
  .header-container {
    padding-inline: 1em;
  }
  .stats {
    padding-inline: 1.5em;
  }
  .credits {
    padding-inline: 1.5em;
  }
  .day {
    height: 30px;
  }
  .news {
    height: auto;
  }
  .nav-container {
    gap: 1em;
  }
  .month {
    padding-right: 1em;
  }
}
@media (max-width: 400px) {
  header {
    height: auto;
  }
  .nav-container {
    gap: 0.4em;
  }
  button {
    padding-inline: 0.75em;
    border-radius: 0.5em;
  }
}
